In [ ]:
import pandas as pd

In [ ]:
#データの読み込み
# store:店舗番号
# dept:商品部門番号
# week:毎週月曜日の日付
# sales:売上金額
df = pd.read_csv('data/sales.csv')
df.head(2)

   store  dept        week     sales
0      1     1  2010-02-01  24924.50
1      1     1  2010-02-08  46039.49

主キーはweek, store, dept

In [ ]:
#日付の範囲を見る
df['week'].min(), df['week'].max()

('2010-02-01', '2012-10-22')

時間粒度は週、 範囲は2010-02-01から2012-10-22まで

In [ ]:
# 主キーの重複をチェック
df.shape[0] == df[['week','store','dept']].drop_duplicates().shape[0]

True

主キーの重複が存在しないデータ

In [ ]:
# 一連の時間系列は全部で何本ありますか
df[['store','dept']].drop_duplicates().shape[0]

3331

一連の時間系列は全部で3331本

In [ ]:
# 各時間系列はすべて連続していますか
df['week'] = pd.to_datetime( df['week'] )
date_summary = df.groupby(['store','dept'])['week'].agg(['min','max','nunique']).reset_index()
date_summary['date_miss'] = (date_summary['max'] - date_summary['min']).dt.days//7+1 - date_summary['nunique']
date_summary[ date_summary['date_miss']>0 ]

      store  dept        min        max  nunique  date_miss
16        1    18 2010-02-01 2012-10-22      113         30
41        1    45 2010-02-01 2012-10-22       71         72
43        1    47 2010-02-01 2012-09-24       22        117
44        1    48 2010-02-01 2012-10-22      125         18
46        1    51 2010-02-01 2010-10-11       33          4
...     ...   ...        ...        ...      ...        ...
3314     45    78 2010-02-08 2011-07-11        8         67
3316     45    80 2010-02-01 2012-10-22      130         13
3326     45    94 2010-02-08 2012-10-22      134          8
3328     45    96 2012-03-12 2012-09-10        2         25
3330     45    98 2010-02-01 2012-10-22      135          8

[605 rows x 6 columns]

605本の時間系列が連続していません。